@layer base {
    body {
        @apply font-poppins bg-background-body text-color-body text-sm;
    }

    input,textarea {
        @apply text-sm font-poppins px-4 text-color-body bg-background-section border border-border-line rounded-md p-2
        transition duration-300 ease-in-out focus:outline-none focus:border-amethyst-purple;
    }

    select {
        @apply text-sm font-poppins px-4 text-color-body bg-background-section border border-border-line rounded-md p-2
        transition duration-300 ease-in-out focus:outline-none focus:border-amethyst-purple;
    }

    a {
        @apply transition duration-300 ease-in-out cursor-pointer hover:text-amethyst-purple;
    }

    button {
        @apply transition duration-300 ease-in-out cursor-pointer hover:text-amethyst-purple;
    }

    table {
        @apply table-auto w-full border-collapse;
    }

    th, td {
        @apply border border-border-line p-2 font-light text-left;
    }

    input[type="date"], input[type="month"] {
        @apply relative p-2.5 before:block before:content-['\e6b6'] before:w-[15px] before:h-5 before:absolute before:right-2.5;
    }
    input[type="date"]::-webkit-calendar-picker-indicator, input[type="month"]::-webkit-calendar-picker-indicator {
        @apply text-transparent z-[1];
        background: none;
        cursor: pointer;
    }
    input[type="date"]:before, input[type="month"]:before {
        background: none;
        font-family: "themify";
        cursor: pointer;
    }
}
