// Color Variables
$color-primary-dark: #273e5a;
$color-primary: #0077b5;
$color-primary-hover: #244363;

$color-secondary-dark: #3c4054;
$color-secondary: #808390;
$color-secondary-hover: #55586e;
$color-secondary-hover-text: #cfcde4;

$color-info-dark: #3a3b64;
$color-info: #7367f0;
$color-info-hover: #3f3f71;

$color-danger: #ff4c51;
$color-danger-hover: #c82333;
$color-white: #fff;

$color-close-bg: #50374a;
